.MessageBody{
    width: 100%;
}
.Container{
    width: 95%;
    height: 70vh;
    margin: 0px auto;
    overflow: hidden;
    overflow-y: scroll;
}
.head{
    padding: 20px;
}

.head p{
    font-size: 18px;
    font-weight: lighter;
    text-transform: capitalize;
}

.Details{
    width: 100%;
    border-bottom: 1px dashed #ccc;
}
.Details p{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}
.Details span, .Details p:last-child {
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 12px;
}
.Details p:last-child {
    float: right;
    right: 10px;
    font-weight: bold;
    font-size: 14px;
}
.Message{
    width: 90%;
    min-height: 40vh;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(204, 204, 204, 0.244);
}
.Message p{
    width: 95%;
    margin: 10px auto;
    line-height: 25px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: justify;
}


/* @media(max-width: 450px){

} */