.Icon{
    display: inline-block;
    margin-right: 10%px;
}
.Icon p{
    color: rgb(170, 170, 170);
    width: fit-content;
    font-size: 18px;
    font-weight: lighter;
    padding: 10px;
    margin: 0px;
    border-radius: 50%;
    transition: background-color .2s;
    cursor: pointer;
}

.Icon p:hover{
    color: #000;
    font-weight: bold;
    background-color: rgba(246, 245, 245, 0.625);
}

.invisible{
    display: none;
}
.visible{
    display: block;
}
.Icon .text {
    position: fixed;
    /* visibility: hidden; */
}
.Icon .text p {
    background-color: rgba(0, 0, 0, 0.632);
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
    color: #fff;
    text-align: center;
}

.Icon .text p:hover {
    color: #fff;
    font-weight: bold;
    background-color: #000;
}