.rightSec{
    width: 40%;
    display: inline-block;
    /* padding: 5px;     */
    margin-right: 20px;
    margin-left: 20px;

}
.Search{
    /* transform: translateX(110%); */
    animation: showUp 1s;
}

@keyframes showUp{
    0%{transform: translateX(150%);}
    100%{transform: translateX(0%);}
}
.ToggleSearch{
    display: inline-block;
    width: 10%;
    left: 0px;
    /* margin-right: 10px; */
    color:  rgb(21, 156, 156);
}
.SearchBar{
    width: 60%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.SearchBar input{
    height: 15px;
    margin: 0px;
    border-radius: 5px;
}
.SearchBtn{
    display: inline-block;
    width: 15%;
    margin: 0px;
    padding: 0px;
    margin-left: 15%;
    
    /* float: left; */
}

.SearchBtn button{
    /* height: 20px; */
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: rgb(21, 156, 156);
    cursor: pointer;
}
.SearchBtn button:hover{
    background-color: rgb(26, 136, 136);
}

@media(max-width: 450px){
    .rightSec{
        /* display: none; */
        width: 50%;
        margin-left: 0px;
    }
}


@media(max-width: 430px){
    .rightSec{
        margin-left: 30%;
    }
}