.ContactInfo{
    background-color: #fff;
    width: 100%;
    padding: 10px;
    /* box-shadow: 0px 0px 8px 5px rgb(187, 186, 186); */
    border-right: .5px solid #eee;
    border-radius: 5px;
}

.cont{
    width: 80%;
    margin: 10px auto;
}

.cont h3{
    color: rgb(35, 72, 73);
    font-size: 16px;
    font-weight: bold;
}

.cont span{
    text-decoration: underline;
}
.Email{
    width: 100%;
}

.Email p, .Number p{
    display: inline-block;
    color: rgb(41, 121, 127);
}

.Email p:first-child, .Number p:first-child{
    width: 20%;
}

.Email p:last-child, .Number p:last-child{
    width: 70%;
    /* background-color: rgba(194, 235, 236, 0.183); */
    padding: 5px;
    color: rgb(35, 72, 73);
}
.Buttons{
    width: 100%;
}

.cancel, .done{
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.cancel{
    color: red;
}

.done{
    color: cadetblue;
    margin-right: 0px;
    float: right;
}

.cancel:hover, .done:hover{
    font-weight: bold;
}


@media(max-width: 790px){
    .cont h3{
        font-size: 13px;
    }
    .cancel, .done{
        font-size: 13px;
    }
}


@media(max-width: 499px){
    .cont{
        width: 95%;
    }
    .cont h3{
        font-size: 10px;
    }
    .cancel, .done{
        font-size: 10px;
    }
    .Email p:first-child, .Number p:first-child{
        width: 19%;
    }
    
    .Email p:last-child, .Number p:last-child{
        width: 65%;
        margin-left: 5%;
        /* background-color: rgba(194, 235, 236, 0.183); */
        padding: 5px;
        color: rgb(35, 72, 73);
    }
}