.RecordsList{
    width: 95%;
    height: 70vh;
    padding: 10px;
    margin: 10px auto;
    background-color: rgba(95, 158, 160, 0.088);
    /* background-color: #fff; */
    overflow: hidden;
    overflow-y: scroll;
}