.Message{
    width: 100%;
    border-bottom: 1px solid #ccc;  
    padding: 0px;
    cursor: pointer;
}

.Remove {
    animation: slideAway .5s;
}

.Delete{
    display: none;
}

@keyframes slideAway{
    0%{transform: translateX(0%);}
    50%{transform: translateX(-50%);}
    75%{transform: translateX(-75%);}
    100%{transform: translateX(-100%); visibility: hidden;}
}

.Message:hover{
    box-shadow: 1px 4px 4px #ccc;
}

.container{
    width: 90%;
    margin: 0px auto;
}

.unread{
    font-weight: bold;
}
.unread p{
    color: #000;
}

.heading,
.service,
.message,
.time{
    display: inline-block;
    padding: 0px;
    margin-right: 20px;
    color: rgb(137, 137, 137);
}

.heading{
    width: 20%;
}

.heading p{
    font-size: 14px;
    padding: 0px;
    /* font-weight: bold; */
}
.group{
    width: 60%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.Icons{
    width: 15%;
    display: inline-block;
  }
.remove{
    display: none;
}
.show{
    display: inline-block;
}
.time{
    width: 10%;
    margin: 0px;
}

.time p{
    /* font-weight: bold; */
    font-size: 10px;
    /* padding: 10px; */
}
.service p{
    /* font-weight: bold; */
    font-size: 14px;
    padding: 0px;
    text-transform: capitalize;
}
.message p{
    color: #555;
    font-weight: lighter;
    font-size: 12px;
}

@media(max-width: 807px){
    .Message{
        width: 90%;
    }
    .heading,
    .service,
    .message,
    .time{
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .heading{
        width: 70%;
    }

    .heading p{
        font-size: 12px;
    }
    .group{
        width: 80%;
    }
    p{
        margin: 2px;
        font-size: 12px;
    }
    .time{
        float: right;
    }
}