.AddRecord{
    width: 100%;
    display: block;
    background-color: rgba(238, 238, 238, 0.251);
    padding: 5px;
    position: relative;
}

.AddRecord h3{
    padding: 10px;
    color: #555;
}

.AddRecord textarea{
    width: 90%;
}

.addBtn{
    color: cadetblue;
    font-size: 30px;
    margin-left: 4%;
    width: 5%;
    cursor: pointer;
    position: relative;
}

.AddLabel{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.571);
    border-radius: 2px;
    width: auto;
    min-width: 80px;
    top: 10px;
    left: 80%;
}

.AddLabel p{
    color: #fff;
    font-size: 12px;
    padding: 5px;
}
.addBtn:hover{
    color: rgb(81, 134, 136);
}