.Panel{
    width: 95%;
    margin: 10px auto;
    padding: 5px;
    /* position: fixed; */
    border-bottom: 1px solid rgba(201, 204, 203, 0.285);
    z-index: 995;
    background-color: transparent;
}

.Back{
    display: inline-block;
}
.Options{
    display: inline-block;
}
.Panel p{
    color: rgb(170, 170, 170);
    width: fit-content;
    font-size: 18px;
    font-weight: lighter;
    padding: 15px;
    margin: 0px;
    border-radius: 50%;
    transition: background-color .2s;
}

.Panel p:hover{
    color: #000;
    font-weight: bold;
    background-color: rgba(246, 245, 245, 0.625);
}