.NavigationItem {
    /* margin: 15px;   */
    list-style: none;
    text-align: center;
    position: relative;
    display: inline-block;
}
/* .NavigationItem:hover,
.NavigationItem:active{
    box-shadow: 1px 8px 5px rgb(28, 134, 148);
} */

.NavigationItem a{
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    color: #fff;
    text-overflow: ellipsis;
    word-wrap: initial;
    transition: color .2s;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: rgb(100, 237, 184);
}

/* @media(max-width: 969px){
    .NavigationItem {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
} */

