Input, textarea{
    display: block;
    width: 100%;
    margin: 1em auto;
    padding: 10px;
    border: 1px solid #ccc;
    /* box-shadow: 1px 1px 3px 1px rgb(233, 233, 233); */
    border-radius: 10px;
    font-size: 18px;
    color: cadetblue;
    position: relative;
}

::placeholder{
    color: cadetblue;
    font-size: 18px;
}

Input, select{
    height: 25px;
}
select{
    background-color: #fff;
    width: 90%;
    padding: 5px;
    height: 40px;
    color: cornflowerblue;
    font-size: 25px;
    border: none;
    border-bottom: 1px solid #ccc;
}

Input:focus,
textarea:focus,
select:focus {
    outline: none;
    background-color: #eee;
}

textarea{
    height: 80px;
    margin-left: auto;
}

.Invalid{
    background-color: rgb(255, 209, 209);
}

.Invalid:focus{
    background-color: rgb(255, 226, 226);
}

@media (max-width: 969px){
    Input, textarea{
        font: 18px;
        box-shadow: none;
        border: 1px solid #ccc;
        width: 95%;
    }
    select{
        font-size: 15px;
    }
    ::placeholder{
        font-size: 16px;
        color: rgba(81, 132, 134, 0.513);
    }
}

