.Layout{
    width: 100%;
    height: 100vh;
}
.Header{
    width: 100%;
    height: auto;
    min-height: 5vh;
    /* border-bottom: 1px solid #555; */
    z-index: 996;
    top: 0px;
    padding: 10px;
    box-shadow: 1px 2px 4px rgb(180, 179, 179);
    background-color: rgba(255, 255, 255, 0.687);
    border-bottom: 1px solid rgb(47, 218, 209);
}
.HeadingSec{
    width: 50%;
    min-width: 200px;
    display: inline-block;
}
.HeadingSec h1{
    margin: 0px;
    position: absolute;
    display: none;
    left: 25%;
    top: 1%;
    /* color: blueviolet; */
    /* text-decoration: underline; */
    text-align: left;
    font-size: 18px;
    letter-spacing: 5px;
    word-spacing: 10px;
    /* display: inline; */
    vertical-align: center;
}
.Dashboard{
    background-color: rgb(21, 156, 156);
    height: 100%;
    width: 20%;
    float: left;
    border-right: 1px solid rgb(22, 134, 129);
    box-shadow: 1px 0px 8px 1px rgba(29, 87, 77, 0.74);
    z-index: 1900;
    overflow-y: scroll;
}
main{
    float: right;
    width: 79.5%;
    height: auto;
    overflow: hidden;
    /* overflow-y: scroll; */
    /* background-color: rgba(236, 236, 236, 0.571); */
    z-index: 100;
}

@media(max-width: 1050px){
    .Open{
        transform: translateX(0%);
    }
    .Close{
        transform: translateX(-102%);
    }
    .Dashboard{
        position: fixed;
        width: 40%;
        transition: transform .5s;
    }
    main{
        float: none;
        width: 100%;
        margin: 0px;
        padding: 20px auto;
        overflow-y: hidden;
    }
}

@media(max-width: 430px){
    
    .HeadingSec{
        display: none;
    }
    .Dashboard{
        width: 70%;
    }
}