.Error{
    width: 30%;
    margin: 10px;
    max-width: 20em;
    padding: 10px;
    animation: slideIn 1.5s;
    box-shadow: 1px 4px 8px rgb(175, 175, 175);
}

.Error p{
    color: #fff;
    text-align: center;
}

.danger{
    background-color: coral;
}

.success{
    background-color: rgb(100, 237, 184);
}

@keyframes slideIn{
    0%{ 
        transform: translateX(-100%);
    }
    50%{ transform: translateX(15%);}
    100%{ transform: translateX(0%);}
}