.User{
    z-index: 1000;
    /* width: 100%; */
    background-color: rgb(30, 134, 134);
    position: relative;
    padding: 10px;
    height: auto;
}
.topUser{
    width: 100%;
    padding: 5px;
    font-size: 30px;
    color: #eee;
    cursor: pointer;
}

.topUser p{
    font-size: 12px;
    padding: 0px;
    margin-left: 10px;
    display: inline-block;
}
.topUser span{
    padding-left: 8px;
}
.container {
    overflow: hidden;
    position: static;
}
.dropDown{
    padding: 5px;
    position: static;
}

.up{
    animation: up 1s;
    height: 0px;
}
.down{
    animation: down 1s;
    height: auto;
}
.dropDown div{
    border-bottom: 1px solid cadetblue;
    text-align: left;
    color: #eee;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.dropDown div span{
    padding-right: 10px;
}
.dropDown div:hover{
    color: rgb(112, 214, 218);
}

@keyframes up {
    0%{
        transform: translateY(0%);
        height: auto;
    }
    50%{
        transform: translateY(-50%);
        height: 60px;
    }
    100%{
        transform: translateY(-100%);
        height: 0px;
    }
}

@keyframes down {
    0%{
        transform: translateY(-100%);
        height: 0px;
    }
    50%{
        transform: translateY(-50%);
        height: 60px;
    }
    100%{
        transform: translateY(0%);
        height: auto;
    }
}