.Auth{
    width: 60%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px auto;
    box-shadow: 0px 10px 15px rgba(56, 56, 56, 0.394);
}

.Auth button{
    background-color: transparent;
    border: none;
    color: tomato;
    float: right;
    /* margin-bottom: 20px; */
    /* margin-left: 80%; */
}

.con {
    width: 80%;
    margin: 10px auto;
}

.con h2{
    color: cadetblue;
    width: 100%;
}

.con form{
    width: 100%;
    display: block;
}

.con form input{
    width: 100%;
    display: block;
    height: 30px;
    margin: 10px 0px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.con form button{
    float: none;
    border: none;
    background-color: rgba(255, 127, 80, 0.836);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color .2s;
}

.con form button:hover{
    background-color: chocolate;
}

.Err p{
    color: coral;
    text-align: center;
}

@media(max-width: 500px){
    .Auth{
        width: 80%;
    }
    .con h2{
        font-size: 18px;
    }
}