.Item{
    width: auto;
    height: 0px;
    display: inline-block;
    cursor: pointer;
    animation: pop .5s;
    position: fixed;
}

.Item p{
    color: #fff;
    font-size: 9px;
    /* text-align: center; */
    padding: 4px;
    background-color: rgb(255, 99, 99);
    border-radius: 10px;
}

.NoItem{
    display: none;
}

@keyframes pop{
    0%{transform: scale(0);}
    50%{transform: scale(0.5);}
    100%{transform: scale(1);}
}