.MoreList{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: rgb(21, 156, 156);
    cursor: pointer;
}

.List{
    position: absolute;
    top: 70%;
    right: 20%;
    width: auto;
    min-width: 150px;
    height: auto;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 4px 4px #ccc;
    animation: showUp .5s;
}


.List div{
    cursor: pointer;
    width: 95%;
    background-color: rgba(238, 238, 238, 0.278);
    margin: 0px auto;
}

.List div:hover{
    background-color: rgba(238, 238, 238, 0.51);
}

.List div p{
    font-size: 12px;
    padding: 5px;
    margin: 5px;
    color: rgb(21, 156, 156);
}

@keyframes showUp{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}