
.panelTitle{
    display: inline-block;
    width: 25%;
    cursor: pointer;
    transition: border-bottom .5s, background-color .5s;
    padding: 10px 0px;
    text-align: center;
}

.panelTitle a{
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    color: cadetblue;
    padding: 5px;
    text-align: center;
}

 .Active{
    border-bottom: 2px solid cadetblue;
    font-weight: bold;
    background-color: rgba(250, 176, 80, 0.034);
    animation: underLine .5s;
    width: 50%;
}

.panelTitle:hover,
.panelTitle:active{
    /* border-bottom: 1px solid cadetblue; */
    font-weight: bold;
    background-color: rgba(250, 176, 80, 0.02);
    /* animation: underLine 1s; */
}

@keyframes underLine {
    0%{width: 25%;}
    100%{width: 50%;}
}
@media (max-width: 810px){
    .panelTitle p{
        font-size: 16px;
        padding: 10px;
    }

}


@media(max-width: 691px){
    .panelTitle a{
        font-size: 14px;
    }

}

@media(max-width: 495px){
    .panelTitle a{
        font-size: 14px;
        padding: 10px 5px;
    }
}

@media(max-width: 455px){
    .panelTitle a{
        font-size: 12px;
        padding: 10px 0px;
    }
}